<h1 class='text-center'>Subjects</h1>
<table class="table table-striped">
  <thead>
    <th>Subject Name</th>
    <th>Available</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <%= render @subjects %>
  </tbody>
</table>