<%
   @page_class = 'contact-page'
   @pagetitle = 'Contact Us at Springboard Academy'
%>

<div id="content-panel">
  <h1>Contact Us @ Springboard Academy</h1>
  <p>You can contact us via e-mail at <%= link_to 'admin@springboard.academy', 'mailto:admin@springboardacademy' %></p>
</div>
