<%
   @page_id = 'home'
   @pagetitle = 'Welcome to Springboard Academy'
%>

<%= render partial: 'layouts/messages' %>

<div id="home-panel">
  <div class="panel-column" id="about-springboard">
    <%= image_tag 'small-logo.png', alt: 'Springboard Academy' %>
  </div>
  <div class="panel-column" id="features">
    Features
  </div>
  <div class="panel-column" id="pricing">
    Pricing
  </div>
  <div class="panel-column" id="subjects">
    Subjects
  </div>
  <div class="clearfix"></div>
</div>
