<h2>A Springboard Academy administrator has registered you as an instructor, and an account has subsequently been created for you.</h2>
<p>You can access the Instructor's Portal here: <br/>
<%= link_to "Instructor Portal Login", '#' %></p>
<p>Your username is your e-mail address: <strong><%= @instructor.email%> </strong></p>
<p>Your password is: <strong><%= @password %></strong><br/>
You may change this password when you log into your account using the "My Account" menu.</p>
