<div class="payment-methods">
  <%= link_to "Offline Payment", offline_payment_student_subject_path(subject), class: 'btn btn-primary' %>
  <%= link_to "E-Payment w/ Credit Card", e_payment_new_student_subject_path(subject), class: 'btn btn-primary' %>
</div>