<div class="payment-methods">
  <button class="btn btn-default btn-large" id="offline-payment-button">Offline Payment</button><br/>
  <%= link_to "E-Payment via Paypal", '#', class: 'btn btn-default btn-large' %><br/>
</div>