<%= link_to "Schedule New Class", new_admin_subject_section_class_path(@section.subject, @section), class: 'btn btn-primary text-center center-block' %>
<h1 class="text-center"><%= @section.codename %>: Classes</h1>
<table class="table table-striped">
  <thead>
      <th>Class Name</th>
      <th>Date</th>
      <th>Start Time</th>
      <th>Duration (mins)</th>
      <th></th>
  </thead>
  <tbody>
    <%= render partial: 'admin/classes/single_class', collection: @section.wiz_iq_classes_single_classes %>
  </tbody>
</table>