<%
   @pagetitle = 'Instructors'
   @page_class = 'instructors instructor-index'
%>

<h1 class="text-center">Instructors</h1>
<%= render partial: 'layouts/messages' %>
<table class="table table-striped">
  <thead>
    <th>Name</th>
    <th>Contact Number</th>
    <th></th>
  </thead>
  <tbody>
    <%= render @instructors %>
  </tbody>
</table>