<li>
  <p class="class-date pull-left"><em><%= past_class.start_time.strftime("%d/%m/%Y") %></em></p>
  <div class="clearfix"></div>
  <h4><%= past_class.name %></h4>
  <p><%= link_to 'Go To Recording', past_class.recording_url, class: 'btn btn-primary btn-sm' %></p>
</li>