.student-portal {
  > .container-fluid {
    padding-top: 70px;
  }

  h1, h2, h3, h4, h5 {
    font-family: 'Lato', sans-serif;
  }

  .well {
    .close {
      margin-right: 20px;
    }
  }

  .jumbotron {
    background: #bed630;
    h1 {
      font-size: 24px;
      color: black;
    }
  }

  #backdrop-logo {
    margin-top: 100px;
    opacity: 0.6;
  }

  .alert {
    li {
      list-style: none;
    }
  }
}