<div class="topbar">
  <div class="pull-left">
    <%= link_to 'Home', '#' %>
  </div>
  <div class="center-block" id="topbar-logo">
    <%= image_tag 'logo.png', alt: 'Springboard Academy Logo', class: 'logo' %>
  </div>
  <div class="clearfix"></div>
</div>