<div id="registration-successful">
  <h3 class="text-center">Registration Successful!</h3>
    <p class="center-block center-text text-center">Before you can access the student portal, your must verify your e-mail address.
    We sent an e-mail to the address provided with instructions.</p>
</div>