<%
   @pagetitle = 'Payment Options'
   @page_class = 'payment-options'
%>

<%= render partial: 'layouts/messages' %>

<div class="well well-lg text-center">
  <p>In order to complete your registration to <%= @subject.name %>, payment must be made</p>
  <p><i>Choose a payment method below:</i></p>

  <%= render partial: 'student/shared/payment_methods' %>
</div>

<div class="panel panel-primary hidden" id="offline-payment-panel">
    <div class="panel-heading">
        Offline Payment
    </div>
    <div class="panel-body text-center">
      <p>This is where the offline payment instructions will go.</p>
      <%= link_to "Confirm Offline Payment Request", student_subject_offline_payment_path(@subject), method: :post, class: 'btn btn-primary btn-large' %>
    </div>
</div>