<%
   @pagetitle = 'Payment Options'
   @page_class = 'student payment-options'
%>

<%= render partial: 'layouts/messages' %>

<div class="well well-lg text-center">
  <p>In order to complete your registration to <%= @subject.name %>, payment must be made</p>
  <p><i>Choose a payment method below:</i></p>

  <%= render partial: 'student/shared/payment_methods', locals: {subject: @subject.id} %>
</div>