<p>Our administrative team has verified your payment for the <%= @payment.subscription.subject.name %>, which was submitted on
<%= @payment.payment_date %></p>
<p>You can now log into the Student Portal, and have full access to the course.</p>