@import 'bootstrap-sprockets';
@import 'bootstrap';
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700italic);

.student-auth {

  h1, h2, h3, h4, h5 {
    font-family: 'Lato', sans-serif;
  }

  h2 {
    font-size: 18px;
  }

  background: asset_url('home-bg.jpg') no-repeat 0 0;
  background-size: cover;

  #topbar-logo {
    width: 50px;
  }

  > .container-fluid {
    margin: 30px 0 0;
  }

  form {

    .field {
      margin: 5px 0 8px;
    }

    .alert {
      li {
        list-style: none;
        font-size: 12px;
        margin: 5px 0;
      }
    }

    margin-bottom: 10px;
    padding: 20px 100px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    background: white;
    border: 1px solid #00aeef;
  }

  .center {
    max-width: 500px;
    width: 50%;
  }

  .center-text {
    max-width: 700px !important;
  }

  #auth-links {
    font-family: 'Lato', sans-serif;
    color: black;

    a {
      color: inherit;
    }
  }
}

.alert {
  text-align: center;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  font-size: 14px;

  &.alert-alert {
    background: #f2dede;
    color: #a94442;
    border-color: #ebccd1;
  }

  &.alert-notice {
    background: #d9edf7;
    color: #31708f;
    border-color: #bce8f1;
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      font-size: inherit !important;
    }
  }
}

@import 'menus';
@import 'student/static_pages';
@import 'static_pages';
@import 'student/portal';