<%
   @pagetitle = 'Create Discussion Forum'
   @page_class = 'discussion-board new'
%>

<%= render partial: 'layouts/messages' %>

<div class="well well-lg">
  <p>Click below to create the discussion board for this class:</p>
  <%= link_to "Create Discussion Board", instructor_section_discussions_path(@section_id), method: :post, class: 'btn btn-primary btn-large' %>
</div>
